*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --base: #ffc600;
    --spacing: 0px;
    --blur: 0px;
  }

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  } 
h1{
    color: aliceblue;
    font-size: 3rem;
    padding: 40px;
    text-align: center;
}
label{
    color: white;
    font-size:2rem;
    padding: 20px;
}
img {
    margin: 30px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
  }
.hl{
    color: var(--base);
}